.signUp {
    margin: 10rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    background-color: lightgrey
  }

  .signUp div {
    display: flex;
    flex-direction: column;
    max-height: 16rem;
  }

  .signUp input {
    margin: 4%;
    height: 2rem;
  }

  .signUp button {
    display: inline-block;
    border-radius: 2px;
    height: auto;
    width: 6rem;
  }

  .signIn {
    margin: 4rem auto;
    width: 95%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-radius: 6px;
    background-color: rgb(158, 145, 145)
  }
  .signIn button {
    display: inline-block;
    border-radius: 2px;
    height: auto;
    width: auto;
  }